.card {
    margin: 8px;
    background: white;
    display: inline-block;
    float: left;
    border: 10px solid white;
}
.card.match {
    border: 10px solid #99fca8;
    transition: border 0.4s ease-in;
}
.card:hover {
    cursor: pointer;
}
.card .image {
    width: 200px;
    height: 200px;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}
.card .image.flipped {
    opacity: 1;
}