.card {
    margin: 10px;
    background: white;
    display: inline-block;
    float: left;
    border: 10px solid white;
}

.card:hover {
    cursor: pointer;
}

.card .image {
    width: 200px;
    height: 200px;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.card .image.flipped {
    opacity: 1;
}