body {
    background-color: black;
}

h1, h2, .restart {
  color: white;
  margin: auto;
  width: 50%;
  padding: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.container {
  width: auto;
  height: 500px;
  text-align: center;
}
.restart {
  margin-top: 20px;
  color: black;
  width: 100px;
  font-size: 16px;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}